   
    body {
    background: linear-gradient(rgb(0, 0, 0), rgb(65, 65, 65));
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: xx-large;
    margin: 0;
    min-height: 100vh;

    }

    h1{
    font-weight: 900;
    font-family:'Segoe UI';
    color: azure;
    font-size: 1.5cm;
    margin: 40px, 20px;
    text-align: center;
    transition: all 2s ease;
    }

    h4{
    margin: 5px 0 5px 0;
    font-weight: bold;
    animation: colorChange 6s infinite;
    transition: all 2s ease;
    }

    @keyframes colorChange {
    0% {
    color: rgb(0, 0, 0);
    }
    25% {
    color: rgb(51, 51, 51);
    }
    50% {
    color: rgb(68, 67, 71);
    }
    }


    .page {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 100%; 
    margin: 40px auto; 
    padding: 20px;
    justify-content: center;
    background-attachment: fixed;
    }

    .images {
    flex-direction: column;
    align-items: center;
    }
    .me img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit:contain;
    border: 4px solid #ccc;
    animation: rotate 3s ease-in-out infinite;

    }

    .am img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit:contain;
    border: 4px solid #ccc;
    animation: rotate 3s ease-in-out infinite;
    }

    @keyframes rotate {
    0% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg);}
    100% { transform: rotate(-10deg); }
    }

    .content {
    background-color: #f5f5f5c8;
    width: 100%;
    margin-top: 1cm;
    padding: 20px;
    border-radius: 50px;
    flex: 1;
    }

    .gif img {
    width: 200px;
    height: auto;
    margin-top: 45px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px
    }

    .button {
    display: block;
    margin: 10px auto;
    font-family: Verdana;
    font-size: 60%;
    font-weight: bold;
    background: linear-gradient(135deg, #525252, #181818);
    padding: 7px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: center;
    transition: all 0.4s ease;
    display: inline-block;
    }

    .button:hover{
    transform: scale(1.09);
    }

    a {
    color: #ffffff;
    text-decoration: none;
    }

    a:hover{
    color: rgb(137, 192, 255);
    }

    footer{
    font-size: 40%;
    color: white;
    background-color:#1818187f;
    width: 50%;
    margin: auto;
    border-radius: 50px;

    }

